[Unit]
Description=Go Web Application
Requires=gcloudsql.service
After=network.target gcloudsql.service

[Service]
User=csye6225
Group=csye6225
# Environment=DBHOST=
# Environment=DBPORT=
# Environment=DBUSER=
# Environment=DBPASS=
# Environment=DBNAME=
ExecStart=/usr/local/bin/webapp

[Install]
WantedBy=multi-user.target